node_modules/
dist/
native/android/
native/ios/
.expo/
.expo/*
.env
.env.*
!.env.example
vite-*.log
vite-*.err
expo-*.log
expo-*.err.log
outputs/*.log
outputs/
outputs/chrome-log*.txt
outputs/.chrome-user-data-temp/
supabase/.temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
